* {
    box-sizing: border-box;
    font-family: 'Sigmar', cursive;

}

body {
    background-color: rgba(155, 200, 25, 0.5);
    color: rgba(0, 7, 80, 0.782);
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
h1 {
    font-size: 60px;
    margin: 0 0 20px 0;
}



.game-board {
    padding: 20px 30px;
    position: relative;
    margin: auto;
    height: 500px;
    width: 450px;
}

#keyboard {
    padding: 1.6em 2.2em;
   border: 3px solid black;
   
   border-radius: 10px;
   background-color: rgba(35, 0, 234, 0.567);
   cursor: pointer;
}

.alphabet {
    text-transform: capitalize;

}


.body-part {
    display: none;
}

.spaceman-container {
    border: 1px solid black;
    
}

 
/* took lines 40-46 from https://github.com/anandms101/Hangman/blob/0d0352583c623b4422873399af3aaea5f1f8a637/style.css */
.spaceman-svg {
    fill: transparent;
    stroke: black;
    stroke-width: 4px;
    stroke-linecap: round;
}

#result-container {
    border: 1px solid black;
    text-align: center;
}

#replay {
    display: block;
    margin: 0 0 20px 0;
    
}



